<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.finalproject.festival.mapper.BasketMapper" >
	
	<!--  장바구니 목록보기 mysql OK -->
	<select id="basketList" resultType="hashmap"  parameterType="Map">
	SELECT 
    sb.basketno AS basketno,
    sb.productno AS basketProductNo,
    sb.id AS memberId,
    sb.basketproductcount AS basketProductCount,
    m.name AS memberName,
    m.phonenumber AS memberPhoneNumber,
    m.email AS memberEmail,
    m.totalpay AS memberTotalPay,
    m.grade AS memberGrade,
    m.joindate AS memberJoinDate,
    m.address1 AS memberAddress1,
    m.address2 AS memberAddress2,
    m.zipcode AS memberZipcode,
    p.productno AS productNo,
    p.productname AS productName,
    p.productcontent AS productContent,
    p.productimage AS productImage,
    p.productlocation AS productLocation,
    p.productopendate AS productOpenDate,
    p.productclosedate AS productCloseDate,
    p.productbookmarkcount AS productBookmarkCount,
    p.productreadcount AS productReadCount,
    p.productticketcount AS productTicketCount,
    p.productremainticketcount AS productRemainTicketCount,
    p.productprice AS productPrice
    
FROM ShoppingBasket sb
JOIN Member m ON sb.id = m.id
JOIN Product p ON sb.productno = p.productno
WHERE sb.id = #{id}
ORDER BY sb.basketno
	</select>
	
	<!-- 장바구니 확인하기 mysql OK - 1월 5일 ) 지금은  필요없음-->
	<!-- <select id="checkBasket" resultType="Basket" >
			SELECT * FROM
			ShoppingBasket
			WHERE id=#{id} 
			AND productno =#{productno}
	</select> -->
	
	<!--///////////  여기서부터는 장바구니에 담기 시작 ///////////////////////////////////////////////////////////////////////////-->
	<!--  장바구니에서  id 에 해당하는 productno를 조회한다  그래서 dao에서 productno가 존재하면/ 존재하지 않으면 으로 나눠서  1월 6일-->
	<!-- <select id="isDupBasketCheck" resultType="String" resultMap="basketResultMap"> -->
	<!-- 
	<select id="isDupBasketCheck" resultType="hashmap"  parameterType="Map">
	SELECT productno
        FROM ShoppingBasket
        WHERE id = #{id}
	</select>
	 -->
	<select id="isDupBasketCheck" resultType="Integer" parameterType="map">
    SELECT COUNT(*) 
   		 FROM ShoppingBasket
    WHERE id = #{id} AND productno = #{productno}
	</select>
	
<!--  장바구니 추가하는 거 1월 5일 수정 -->
	<insert id="insertBasket"   parameterType="Basket"  useGeneratedKeys="true"  keyProperty="basketno">
		INSERT INTO ShoppingBasket
				(id, productno, basketproductcount)
		
			VALUES( #{id}, #{productno}, #{basketproductcount})
	</insert>
	
	<!--  장바구니에 prodcutno가 이미 존재할 때 수량만 update 해줌 1월 6일  MYSQL OK-->
	<update id="updateBasketProductCount" parameterType="Map">
  UPDATE ShoppingBasket 
    	SET basketproductcount = basketproductcount + #{basketproductcount}
   		 WHERE productno = #{productno} 
    AND id = #{id}
</update>


	<!--///////////  여기서부터는 장바구니에 담기 끝 ~~~  ////////////////////////////////////////////////////////////////////////////-->
	
	
	<!-- @@@@@@@  장바구니 수량 변경 및 삭제 @@@@@@@-->
	<!--  1) basketList 를 쓰면 된다. =>장바구니에서 id에 해당하는  productno랑 basketproductcount 조회하기-->
	
	<!-- 2) 장바구니에서  productno 에 해당하는 수량 업데이트-->
<update id="updateBasketProductnoCount" parameterType="Map">
    UPDATE ShoppingBasket
   	 SET basketproductcount = #{basketProductCount}
    WHERE id = #{id} AND basketno = #{basketno}
</update>

<!--  3) 장바구니에서 productno에 해당하는 제품 삭제 -->
<delete id="deleteBasketProductno" parameterType="Map">
	delete from ShoppingBasket
    	WHERE id =  #{id}  AND productno = #{productno}
</delete>

<!--  4) 장바구니에 있는 모든 상품 삭제 -->
<delete id="deleteBasketAll" parameterType="String">
	delete from ShoppingBasket
    	WHERE id =  #{id} 
</delete>
	

	<!-- //////////////////////////////////////////////////////////////////////////////////////////// -->
	<!--  장바구니에서 basketno에 해당하는 제품 삭제하기 1월 5일 -->
	<delete id="deletdBasket">
		DELETE FROM ShoppingBasket
        		WHERE id = #{id} 
        		AND basketno = #{basketno}
	</delete>
	
	<resultMap id="basketResultMap" type="Basket" >
		<id property="basketno" column="basketno" />
		<result property="productno" column="productno" />
		<result property="id" column="id" />
		<result property="basketproductcount" column="basketproductcount" />
	</resultMap>
	
</mapper>	



